<div class="modal-dialog" style="display: table">
  <div class="modal-content">

    <div class="modal-body">
      <div class="photo">
        <%= image_tag @photo.image.full.url if @photo.image %>
      </div>
      <div class="row photo-description">
        <div class="col-lg-3">
          <div class="author">
            <%= image_tag(@photo.user.gravatar, class:'avatar') %>
            <%= @photo.user.name %>
          </div>
          <% if @photo.owner?(current_user) %>
            <ul class="list-group photo-ctrl-panel">
              <li class="list-group-item list-group-item-danger">
                <%= link_to photo_path(@photo, token: current_user.token), method: :delete, data: {confirm: 'Are you sure want to delete this photos?'} do %>
                  <span class="glyphicon glyphicon-trash"></span> Delete photo</a>
                <% end %>
              </li>
              <!--<li class="list-group-item list-group-item-success">-->
                <!--<a href="#"><span class="glyphicon glyphicon-pencil"></span> Edit description</a>-->
              <!--</li>-->
            </ul>
          <% end %>

        </div>
        <div class="col-lg-9">
          <% unless @photo.comment.blank? %>
            <div class="comment">
              <blockquote>
                <%= simple_format @photo.comment %>
              </blockquote>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

  </div>
</div>